.virtual {
    background-color: #004D42;
    height: auto;
    padding-top: 227px;
    padding-left: 96px;

    &__head {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        color: #B2ECA1;
    }

    &__title {
        margin-top: 12px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 40px;
        letter-spacing: 0.36px;
        color: #F7F7F3;
    }

    &__text {
        margin-top: 27px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: rgba(237, 241, 241, 0.7);
        height: 168px;
        width: 454px;
    }

    button {
        margin-top: 30px;
        height: 35px;
        width: 266px;
        border-radius: 9999px;
        background: #B2ECA1;
        border: 0;

        a {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #004D42;
        }
    }
}